@model IEnumerable<Security.ApplicationRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-bordered table-hover table-striped " style="margin : 0px auto; margin-top:40px; width:600px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            
            
            <th></th>
        </tr>
    </thead>
    
@foreach (var item in Model) {
        <tr>

            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                
            </td>
        </tr>
}
    
    <tr>
        <td colspan="3" class="text-center">
            <a asp-action="AddNewRole" asp-controller="RoleManagement" class="btn btn-primary">Add New Role</a>
        </td>
    </tr>
</table>
