@model IEnumerable<Security.ApplicationRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-bordered table-hover table-striped " style="margin : 0px auto; margin-top:40px; width:600px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            
            
            <th></th>
        </tr>
    </thead>
    
@foreach (var item in Model) {
        <tr>

            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
              <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Edit", new { id = item.Id })
                |
                 <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
            <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
        </form>
            </td>

        </tr>
}
    
    <tr>
        <td colspan="3" class="text-center">
            <a asp-action="AddNewRole" asp-controller="RoleManagement" class="btn btn-primary">Add New Role</a>
        </td>
    </tr>
</table>
